
/source/.vs
/source/RandomList/bin
/source/RandomList/obj
/source/RandomList.Android/bin
/source/RandomList.Android/obj
/source/RandomList.iOS/bin
/source/RandomList.iOS/obj
/source/RandomList.Android/*.bak
/source/RandomList.Android/RandomList.Android.csproj.user
